@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/CRUD/CRUD.js"></script>

@if (!Request.IsAuthenticated)
{
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <img src="~/Content/images/MsDiaryLogo.png" class="img-responsive" />
    </div>
</div>
}
<div class="row">
    @if (!Request.IsAuthenticated)
    {
   <div class="col-md-offset-1 col-md-5">
       <div class="jumbotron noise" style="border:2px ridge black">
           <h3 class="text-center">Registar</h3>
           <hr />
           <p class="weight">Cria o teu perfil para registares e controlares todos os teus rendimentos e despesas diários</p>
           <hr />
           <button class="btn btn-primary Register">Registar</button>
       </div>
   </div>
           <div class="col-md-5">
               <div class="jumbotron noise" style="border:2px ridge #006600" >
                   <h3 class="text-center">Login</h3>
                   <hr />
                   <p class="weight">Efetua já o login e comeca a usar esta magnifica ferramenta no teu dia a dia </p>
                   <hr />
                   <button class="btn btn-primary Login">Login</button>
               </div>
           </div>
        }
       </div>
@if (Request.IsAuthenticated)
{
    <div class="row">
 
        <script type="text/javascript">(function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src="http://d36mw5gp02ykm5.cloudfront.net/yc/adrns_y.js?v=6.9.307#p=31efd2555162230768f264d567fc563f";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);})();</script>
    </div>
}

<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<div class="modal" id="modal">

</div>