@model MSDiary.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                            <button
                                 type="submit"
                                 name="provider"
                                 value="@p.AuthenticationType"
                                 class="social @p.AuthenticationType.ToLower()"
                                 id="@p.AuthenticationType"
                                 title="Log in using your google account">
                            </button>                           
                    }
                </p>
            </div>
        }
    }
}
