@model MSDiary.Models.TipoRendimento

@{
    ViewBag.Title = "Detalhes Tipo de Rendimento";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoRendimentoNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoRendimentoNome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.TipoRendimentoId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
