@model MSDiary.Models.TipoPagamento

@{
    ViewBag.Title = "Eliminar Tipo de Pagamento";
}

<h3>Tem a certeza que pretende eliminar?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoPagamentoNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPagamentoNome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
